<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nguyennhathao_18040821_smilingface">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_smile_green"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmilingFaceApp">
        <activity android:name="com.example.nguyennhathao_18040821_smilingface.ui.Face"></activity>
        <activity android:name="com.example.nguyennhathao_18040821_smilingface.ui.Register" />
        <activity android:name="com.example.nguyennhathao_18040821_smilingface.ui.SignIn" />
        <activity android:name="com.example.nguyennhathao_18040821_smilingface.ui.Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>